server.host: "{{ kibana_server_host | default('0.0.0.0') }}"
server.port: "{{ kibana_port | default(5601) }}"
server.name: "{{ host | default('kibana') }}"

elasticsearch.hosts: ["{{ elasticsearch_url | default('https://localhost:9200') }}"]
elasticsearch.username: "kibana_system"
elasticsearch.password: "{{ kibana_system_password }}"

elasticsearch.ssl.verificationMode: certificate
elasticsearch.ssl.certificateAuthorities: [ "/etc/kibana/elastic-certificates.p12" ]
#elasticsearch.ssl.verificationMode: none