server.host: "{{ kibana_server_host | default('0.0.0.0') }}"
server.port: "{{ kibana_port | default(5601) }}"
server.name: "{{ host | default('kibana') }}"

elasticsearch.hosts: ["{{ elasticsearch_url | default('https://localhost:9200') }}"]
elasticsearch.username: "kibana_system"
elasticsearch.password: "{{ kibana_system_password }}"
elasticsearch.ssl.verificationMode: none

xpack.encryptedSavedObjects.encryptionKey: '97985727659901963835776927609970'
xpack.reporting.encryptionKey: '92514103049239459904715718021586'