id: {{ agent_policy_id }}
revision: 1
fleet:
  {% if setup_fleet_server %}
  agent:
    id: fleet-server
  server:
    bootstrap: true
    host: 0.0.0.0
    port: {{ fleet_server_port }}
    elasticsearch:
      host: {{ elasticsearch_url }}
      username: elastic
      password: {{ elastic_password }}
  {% else %}
  hosts: ["{{ fleet_server_url }}"]
  {% endif %}

{% for key, value in fleet_custom_settings.items() %}
{{ key }}: {{ value }}
{% endfor %}