# [Interface]
# PrivateKey = {{ wireguard_private_key }}
# Address = {{ wireguard_address }}
# DNS = {{ wireguard_dns }}

# [Peer]
# PublicKey = {{ mullvad_public_key }}
# AllowedIPs = 0.0.0.0/0
# Endpoint = {{ mullvad_server }}:51820