---
- name: Restart Logstash
  systemd:
    name: logstash
    state: restarted
  become: yes

- name: Reload Logstash
  systemd:
    name: logstash
    state: reloaded
  become: yes

- name: Restart Logstash daemon
  systemd:
    daemon_reload: yes
    name: logstash
  become: yes